[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
    ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule "bundle/space"]
	path = bundle/space
	url = http://github.com/scrooloose/vim-space.git
    ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = http://github.com/chrismetcalf/vim-rainbow.git
    ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
    ignore = untracked
[submodule "bundle/PIV"]
	path = bundle/PIV
	url = http://github.com/spf13/PIV.git
    ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule "bundle/mac-classic"]
	path = bundle/mac-classic
	url = http://github.com/nelstrom/vim-mac-classic-theme.git
    ignore = untracked
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = http://github.com/sjbach/lusty.git
    ignore = untracked
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
    ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    ignore = untracked
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
