[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
    ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule "bundle/space"]
	path = bundle/space
	url = http://github.com/scrooloose/vim-space.git
    ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = http://github.com/chrismetcalf/vim-rainbow.git
    ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
    ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
    ignore = untracked
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = https://github.com/mkitt/markdown-preview.vim.git
    ignore = untracked
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
    ignore = untracked
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
    ignore = untracked
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
    ignore = untracked
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
    ignore = untracked
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
    ignore = untracked
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/librarian"]
	path = bundle/librarian
	url = git://github.com/malkomalko/vim-librarian.vim.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/matchmaker"]
	path = bundle/matchmaker
	url = https://github.com/qstrahl/vim-matchmaker
[submodule "bundle/enhanced-js"]
	path = bundle/enhanced-js
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/phpfolding"]
	path = bundle/phpfolding
	url = https://github.com/pekepeke/phpfolding.vim
[submodule "bundle/airlineish"]
	path = bundle/airlineish
	url = https://github.com/paranoida/vim-airlineish.git
[submodule "bundle/easy-align"]
	path = bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/tomorrow-theme"]
	path = bundle/tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "bundle/scss"]
	path = bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/bracketed-paste"]
	path = bundle/bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/ctrlp-py-matcher"]
	path = bundle/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
