[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
    ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule "bundle/space"]
	path = bundle/space
	url = http://github.com/scrooloose/vim-space.git
    ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = http://github.com/chrismetcalf/vim-rainbow.git
    ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "bundle/PIV"]
	path = bundle/PIV
	url = http://github.com/spf13/PIV.git
    ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
    ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
    ignore = untracked
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = https://github.com/mkitt/markdown-preview.vim.git
    ignore = untracked
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
    ignore = untracked
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
    ignore = untracked
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
    ignore = untracked
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
    ignore = untracked
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
    ignore = untracked
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/librarian"]
	path = bundle/librarian
	url = git://github.com/malkomalko/vim-librarian.vim.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/rooter"]
	path = bundle/rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
